.idea/
.env

gitlab/config/
gitlab/logs/
gitlab/data/

nginx/conf.d/*
!nginx/conf.d/conf.conf
nginx/vhost.d/
nginx/share_html/
nginx/certs/

redmine/config/configuration.yml
redmine/config/secret.yml
redmine/files/
redmine/log/
redmine/plugins/
redmine/themes/
redmine/postgres_data/
